/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your additional styles go here */

@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}
@font-face {
    font-family: "Source Serif 4";
    src: url(./vEFF2_tTDB4M7-auWDN0ahZJW3IX2ih5nk3AucvUHf6kDXr4.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden
}

#page1{
    width: 100vw;
    height: 138vh;
    /* background-color: aqua; */
    
}

#nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.2vw;
    /* background-color: #FFDA79; */
}

#nav_part1{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_part2{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
} 

#nav img{
    height: 6vw;
    color: #F8F7F4;
}

#nav_part1 h4{
    font-size: 0.9vw;
    font-weight: 600;
}

#nav_part2 button{
    padding: 0.9vw 1.8vw;
    font-size: 0.9vw;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    border: none;
    margin: 0 0.3vw;
}

#nav_part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}

#content{
    height: calc(100% - 120px);
    width: 100%;
    padding-top: 5vw;
    /* background-color: yellow; */
}

#content h3{
    background-color: #D6C5EF;
    padding: 0.6vw 1.2vw;
    width: fit-content;
    border-radius: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Source Serif 4";
    font-weight: 100;
    font-size: 1.1vw;
}

#content h1{
    font-size: 5.2vw;
    font-weight: 100;
    text-align: center;
    margin: 1vw 0 1.5vw 0;
    line-height: 5vw;
    font-family: "Source Serif 4";
    /* background-color: pink; */
}

#content h4{
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
}

#content button{ 
    padding: 1.2vw 1.8vw;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    border: none;
    margin: 38px 0px 60px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);     
}

#bottom{
    width: 100%;
    height: 52vh;
    padding: 0.5vw;
    display: flex;
    gap: 1.5vw;
    overflow-x: auto;
    /* background-color: red; */
}

#bottom::-webkit-scrollbar{
    display: none;
}

.elem{
    flex-shrink: 0;
    width: 38vh;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    position: relative;  
    animation-name: moving;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    /* background-color: purple; */
}

.elem:nth-child(1){
    margin-left: 2vw;
}

.elem img, .elem video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-bottom{
    padding: 1vw;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 65%;
    color: #fff;
    /* background-color: black; */
}
.text-bottom .name, .text-bottom .profile{
    margin-top: 0.3vw;
    font-size: 0.9vw;
}

.text-bottom .tags{
    display: flex;
    gap: 1vw;
    margin-top: 0.8vw;
}

.text-bottom .tags p{
    font-size: 0.7vw;
    padding: 0.5vw 0.8vw;
    border-radius: 30px;
    border: 2px solid #ffffff2f;
}


@keyframes moving{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-310%);
    }
}

#page2{
    width: 100%;
    height: 120%;
    /* background-color: pink; */
    position: relative;
    padding: 2.1vw;
    padding-top: 5vw;
}

#page2 h1{
    font-size: 3vw;
    font-weight: 300;
    letter-spacing: -1;
    text-align: center;
    margin-bottom: 1vw;
    color: #000000d6;
}

.box{
    width: 21vw;
    height: 35%;
    border-radius: 10px;
    /* padding: 30px; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 1.1vw;
    background-color: #000;
}

.box img, .box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-bottom{
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -30%;
    transition: all ease 0.3s;
    color: #fff;
    padding: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.63)) ;
}

.box:hover .box-bottom{
    bottom: 0;
}

.box-bottom i{
    background-color: #fff;
    padding: 0.5vw 0.9vw;
    font-size: 0.8vw;
    border-radius: 20px;
    color: #000;
}

#footer{
    width: 100%;
    height: 93%;
    padding: 5vw 5vw;
    background-color: #FFDA79;
}

#footer h1{
    font-family: "Source Serif 4";
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.8px;
}

#footer h3{
    margin-top: 1.5vw;
    font-weight: 200;
    font-size: 1.3vw;
    line-height: 1.7;
    text-align: center;
}

#footer_button{
    display: flex;
    justify-content: center;
    margin-top: 3.2vw;

    /* background-color: pink; */
}

#footer_button button{   
    padding: 1.4vw 1.8vw;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    border: none;
    margin: 0 0.5vw;
}

#designer{
    padding: 1.8vw;
}

#footer-bottom{
    width: 100%;
    height: 8%;
    padding: 1vw 0vw;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

#logo h3{
    font-size: 0.8vw;
}

